	<div class="content">
		<div class="blog-section">
			<div class="container">
					<div class="col-md-8 left_column">
							<h2 class="with-line">Blogs</h2>
						<article class="clearfix">
							<header class="grid_8 alpha">
								<div class="head_element"><span class="el_1">07</span><span class="el_2">May</span></div>
								<div class="sub">
								<a href="single.html" class="readblog">Lorem ipsum dolor sit amet</a>
								<p class="sub_head">Posted by <a href="#">Admin</a> with <a href="#">3 comment(s)</a></p>
								</div>
								<div class="clearfix"></div>
							</header>
							<div class="alpha1"><a href="single.html"><img src="images/index-3_img-1.jpg" alt="" /></a></div>
							<div class="grid_b4">
								<h5>Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et mag.</h5>
								<p>Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus.</p>
								<a href="single.html" class="btn btn-1 btn-1c">Read More</a>
							</div>
							<div class="clearfix"></div>
						</article>
						<article class="clearfix">
							<header class="grid_8 alpha">
								<div class="head_element"><span class="el_1">04</span><span class="el_2">May</span></div>
								<div class="sub">
								<a href="single.html" class="readblog">Praesent vestibulum molestie</a>
								<p class="sub_head">Posted by <a href="#">Admin</a> with <a href="#">3 comment(s)</a></p>
								</div>
								<div class="clearfix"></div>
								
							</header>
							<div class="alpha1"><a href="single.html"><img src="images/index-3_img-2.jpg" alt="" /></a></div>
							<div class="grid_b4">
								<h5>Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a.</h5>
								<p>Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutem. Lorem ipsum dolor sit amet, conectetu er adipiscing elit. Praesent vestibulum.</p>
								<a href="single.html" class="btn btn-1 btn-1c">Read More</a>
							</div>
						</article>
						<article class="clearfix">
							<header class="grid_8 alpha">
								<div class="head_element"><span class="el_1">02</span><span class="el_2">May</span></div>
								<div class="sub">
									<a href="single.html" class="readblog">Cum sociis natoque penatib</a>
									<p class="sub_head">Posted by <a href="#">Admin</a> with <a href="#">3 comment(s)</a></p>
								</div>
								<div class="clearfix"></div>
							</header>
							<div class="alpha1"><a href="single.html"><img src="images/index-3_img-3.jpg" alt=""></a></div>
							<div class="grid_b4">
								<h5>Maecenas tristique orci ac sem. Duis ultri cies pharetra magna. Donec accumsan.</h5>
								<p>Rutrum ante eu lacus. Lorem ipsum dolor sit amet, piscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. </p>
								<a href="single.html" class="btn btn-1 btn-1c">Read More</a>
							</div>
						</article>
					</div>
					<div class="col-md-4 right_column">
						<div class="item">
							<header>
								<h2 class="with-line">Categories</h2>
							</header>
							<ul>
								<li><a href="#">Penatibus et magnis dis part urient mon</a></li>
								<li><a href="#">Nascetur ridiculus mus nulla dui fusce </a></li>
								<li><a href="#">Malesuada odio morbi nunc odio gravid</a></li>
								<li><a href="#">Cursus nec luctus a lorem mauris accu</a></li>
								<li><a href="#">Lacus ediscng aliqin pdeiquetsit amet </a></li>
								<li><a href="#">Ut liguliquam dapibus tincidturent justo</a></li>
								<li><a href="#">Loboeittis euisr piciatis unde omnis iste</a></li>
								<li><a href="#">Errorptatem accusantium doloremen emq</a></li>
								<li><a href="#">Laudantium totam remeaque ipsa quae</a></li>
								<li><a href="#">Si architecto beatae vitae dicta sunt exp</a></li>
							</ul>
						</div>
						<div class="item2">
							<header>
								<h2 class="with-line">Archives</h2>
							</header>
							<ul>
								<li><a href="#">February 2014</a></li>
								<li><a href="#">January 2014</a></li>
								<li><a href="#">December 2013</a></li>
								<li><a href="#">November 2013</a></li>
								<li><a href="#">October 2013</a></li>
								<li><a href="#">September 2013</a></li>
								<li><a href="#">August 2013</a></li>
								<li><a href="#">July 2013</a></li>
							</ul>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="content-pagenation">
						<li><a href="#">Frist</a></li>
						<li><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><span>. . . . . . . . . .</span></li>
						<li><a href="#">Last</a></li>
						<div class="clearfix"> </div>
					</div>

			</div>
		</div>
		</div>